
<style>
   
  .ngx-charts{fill: blanchedalmond !important;}
</style>
<div  *ngIf = "showContent" class="col-md-12 align-content-center" style="background-image: linear-gradient(#fff 65%, #e6e6e6);padding-left: 5%;padding-top: 2%;">
 <div class="text-center">
   <a (click)="goback()">  
     <span class="glyphicon glyphicon-arrow-left"></span> Back to Search Results</a>
 </div>
 <h2>Graphical Comparision of Emotions distributed over books</h2>
   <div class="col-md-10">
   <ngx-charts-line-chart 
 [view]="view"
 [scheme]="colorScheme"
 [legend]="legend"
 [legendTitle] ="legendTitle"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [showGridLines]="showGridLines"
 [xAxis]="xAxis"
 [yAxis]="yAxis"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabel"
 [timeline]="timeline"
 [trimXAxisTicks] ="trimXAxisTicks"
 [results]="multi"
 [legendPosition] = "legendPosition"
 (select)="onSelect($event)"
 (activate)="onActivate($event)"
 (deactivate)="onDeactivate($event)"
 >
</ngx-charts-line-chart>
</div>
<div class="col-md-10">
 <h2>Topic Models Represented in Word Cloud </h2>
 <angular-tag-cloud 
 [data]="topicdata" 
 [width]="options.width"
 [height]="options.height"
 [overflow]="options.overflow" 
 [zoomOnHover]="zoomOnHoverOptions">
</angular-tag-cloud>
</div> 
</div>


