 
   .container{
    padding-top: 1.5vw;
  }

  body {
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
  }

  .col-md-10 {
    position: inherit !important;
  }
   /* Remove the navbar's default margin-bottom and rounded borders */ 
   .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #F4F1EA;border-color: #F4F1EA;
    color: black;
  }
  .navbar-text{
    color: black;
    font-family: 'SpecialElite';
  }
 
  .autocomplete-container .input-container input
  {
      height: 2.2vw !important;
      border-radius: 20px !important;
  }
  
  .mat-card{
    background-image: linear-gradient(#fff 65%, #e6e6e6);
    font-family: 'Merriweather', 'Georgia','serif';
    letter-spacing: 0.1em;
    
  }


  /* Important part */
  .modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    /*max-height: calc(100vh - 300px);*/
    overflow-y: auto;
    letter-spacing: 1px;

}
.modal-title{
  margin: auto;
  font-size: 2vw;
  position: absolute;
}
.ngx-pagination{
  background-color: (265,265,265,0.5) !important;
}


.toast{
  font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    /* font-style: italic; */
    color: black;
    font-weight: 790;
    letter-spacing: 0.3rem;
    margin-left: 1vw;
    margin-right: 1vw;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: black;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}
.after_modal_appended
{  
  position:relative;
}

::ng-deep .mat-radio-button .ng-tns-c82-0 .mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white !important;
}

h1{
  margin: 10px;
}
h2{
color: black;
}
.font-weight-bold{
  color: #333333;
  font-family: 'Merriweather', 'Georgia','serif';
  padding-top: 1vw;
  font-weight: 800;
}
.card {
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a{
  cursor: pointer;
}

.ad img{
  margin: 1vw;
}
i{
  cursor: pointer;
}
.ng-autocomplete {
  width: 100%;
  }
  .bootstrap-select>.dropdown-toggle{
    height: 40px;
  }
button{
height: 40px;
}

::ng-deep .btn {
  padding: 7px 12px !important;
}